---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro'
// Component Imports
import Button from '../components/Button.astro'
import {langChange} from '../../public/js/utillity';

const response = await fetch('http://localhost:3000/public/js/i18n.json');
const data = await response.json();


const result = import.meta.env.PUBLIC_POKEAPI;

const lang = langChange();
const title = 'index page';
const description = 'Hey! This is Astromnl a simple Astro blog template.';
---
<MainLayout {lang} {title} {description}>
  {data.company01[lang]}
    <h1 class="font-size-3"><Fragment set:html={data.company01[lang]}></Fragment></h1>
    <p class="lead-paragraph"><Fragment set:html={data.company02[lang]}></Fragment></p>
    <div class="json-test"><Fragment set:html={data.company01[lang]}></Fragment></div>
    <p><Fragment set:html={data.company02[lang]}></Fragment></p>
    <p><Fragment set:html={data.company03[lang]}></Fragment></p>
    <p><img src="../../public/images/i18n_${lang}.png"></p>
    <!-- <PostList posts={recentPosts} /> -->
</MainLayout>
