---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro'
// Component Imports
import Button from '../components/Button.astro'

import list from '../../public/js/i18n.js';


// let lang2 = langChange();
// console.log(langChange)


const list2 = list;

// console.log(params.searchParams.get('lang'))
const lang = 'en';
const result = import.meta.env.PUBLIC_POKEAPI;
---
<MainLayout 
  lang={lang}
  title="Home11" 
  description={`Hey! This is Astromnl a simple Astro blog template.`}>
    <h1 class="font-size-3"><Fragment set:html={list2.company01[lang]}></Fragment></h1>
    <p class="lead-paragraph"><Fragment set:html={list2.company02[lang]}></Fragment></p>
    <!-- {langChange2} -->
    <Button/>
    <p><Fragment set:html={list2.company02[lang]}></Fragment></p>
    <p><Fragment set:html={list2.company03[lang]}></Fragment></p>
    <p><img src="../../public/images/i18n_${lang}.png"></p>
    <!-- <PostList posts={recentPosts} /> -->
</MainLayout>
